{% extends "gp_nav_bar.html" %}
{% block content %}
<style>
.divbox{
	width: 40%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
	margin-left:5%;
	margin-right:5%;
}
</style>
<body>
<h3>Here we are investigating the use of ICE requesting and the Advantages it gives to sample turnaround times</h3>
<div class="divbox" style="float:left;">
{% load staticfiles %}
<p>Count of ICE requesting levels by GP</p>
<a href="../ice/by_location/"><img src ="{% static "" %}" alt="My image" style="width: 100%;"/></a>
</div>
<div class="divbox" style="float:right;">
{% load staticfiles %}
<p></p>
<a href="../rlevels/boxplots/"><img src ="{% static "" %}" alt="My image" style="width: 100%;"/></a>

</div>
</body>


{% endblock %}