{% extends "nav_bar.html" %}
{% block content %}
<style>
.divbox{
	width: 40%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
	margin-left:5%;
	margin-right:5%;
}
</style>
<body>
Was probably gonna put some info on lab tests and such here, or I might just link to the pathology blog http://www.heftpathology.com/frontpage/directorate-blog.html
Not sure this even needs its own tab front page might be better?

Could put stuff about the research project here instead?
</body>


{% endblock %}